.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 32px;
}

.about {
  background: url('../../images/about-page.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 850px) {
  .about {
      background-attachment: unset;
  }
}
