.contact {
  background: url("../../images/contact-page.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.contact .grid {
  grid-template-columns: 60% 40%;
}

.contact .grid > *:first-child {
  grid-column: 1 / span 2;
}
